
.slideContainer {
    height:100%;
    width:100%;
    position:relative
  }
  
  
  .slide {
    width:100%;
    height:100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
  }
  
  
  .leftArrow {
     position:absolute;
     top:50%;
     transform:translate(0,-50%);
     left:32px;
     font-size: 45px;
     color:#fff;
     z-index: 1;
     cursor: pointer;
  }
  
  .rightArrow {
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
    right:32px;
    font-size: 45px;
    color:#fff;
    z-index: 1;
    cursor: pointer;
  }
  
  .dotContainer {
     display: flex;
     justify-content: center;
     margin-top: 20px;
  }
  
  .innerDot {
     height:12px;
     width:12px;
     background-color:  white;
     margin: 0 5px;
     border-radius: 50%;
     border: 3px solid #ffdf00;
  }
  
  .active {
    background-color: #fff880;
  }


  @media only screen and (max-width:500px){

    .leftArrow {
        left:5px;

    }

    .rightArrow {
       right:5px;
    }
}