/* header.module.css */

.outerContainer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fff;
    box-shadow: var(--shadow-light);
  }
  
  .logoContainer {
    margin-left: 25px;
  }
  
  .servicesContainer {
    margin-right: 20px;
    display: flex;
    gap: 15px;
  }
  
  .tile {
    font-size: 15px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .tile:hover {
    background-color: #eef5ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .hamburgerContainer {
    display: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 24px;
  }
  
  .hamburger {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #7e7a7a;
    transition: all 0.3s ease;
  }
  
  .hamburger:nth-child(1) {
    top: 0;
  }
  
  .hamburger:nth-child(2) {
    top: 10px;
  }
  
  .hamburger:nth-child(3) {
    top: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .logoContainer {
      margin-left: 15px;
    }
  
    .logoContainer img {
      height: 50px;
      width: 150px;
    }
  
    .servicesContainer {
      display: none;
    }
  
    .hamburgerContainer {
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }
  
    /* Transformations for "X" sign */
    .hamburgerContainer.open .hamburger:nth-child(1) {
      transform: rotate(45deg);
      top: 10px;
    }
  
    .hamburgerContainer.open .hamburger:nth-child(2) {
      opacity: 0;
    }
  
    .hamburgerContainer.open .hamburger:nth-child(3) {
      transform: rotate(-45deg);
      top: 10px;
    }
  }
  