.mainContainer {
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    padding:2rem;
    /* display: flex;
    justify-content: center; */
}


.innerContainer {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 5rem;      
    display: flex;
    flex-direction: column;
    min-width: 100%;
} 


.heading {
    margin-bottom: 5px;
    text-align: center;
    font-size:25px;
    font-family: var(--dancing_script);   
}



@media only screen and (max-width:500px){

    .mainContainer {
        padding:1rem;

    }


    .innerContainer {
        padding:1rem;

    }

}
